{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "verifyConditions": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "src/*"
      }
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": "@semantic-release/npm",
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "src/*"
      }
    }
  ],
  "success": [],
  "fail": []
}
