.expandable-mce {

  .error {
    outline: 2px solid var(--pgn-color-danger-300);
  }
  .mce-content-body {
    padding: 10px;
    p {
      margin: 0;
    }
    blockquote {
      margin: 16px 40px;
    }
  }

  *[contentEditable=false] {
    outline: 1px solid var(--pgn-color-light-700);
  }
  *[contentEditable=true] {
    outline: 1px solid var(--pgn-color-gray-500);
    &:focus, &:active {
      outline: 2px solid var(--pgn-color-black);
    }
  }
}
