.search-sort-menu .pgn__menu-item-text {
    text-transform: capitalize;
}

.search-sort-menu .pgn__menu .search-sort-menu-by {
    display: none;
}

/* Sort options come in pairs of ascending and descending. */
.search-sort-menu .pgn__menu > div:nth-child(even) {
    border-bottom: 1px solid #f4f3f6;
}

.search-sort-menu .pgn__menu > div:last-child {
    border-bottom: none;
}
