.selection-modal .pgn__vstack > .alert {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

/* Set top padding to 0 when there is an alert above. */
.selection-modal .pgn__vstack > .alert + .gallery > .pgn__scrollable-body-content > .p-4 {
    padding-top: 0 !important;
}

.selection-modal .pgn__vstack > .alert > .alert-icon {
    /* Vertical margin equal to the vertical padding of the "Dismiss" button. */
    margin-bottom: 0.4375rem;
    margin-top: 0.4375rem;
}
