.dropzone-middle {
  border: 2px dashed var(--pgn-color-gray-200);

  &.active {
    border: 2px solid #262626; /* change color when active */
  }
}

.pgn__dropzone {
  height: 100vh;
  width: 100%;
}

.video-id-container {
  width: 100%;
  justify-content: center;
}

.url-submit-button {
  position: absolute;
  left: 85%;
}

.video-id-prompt {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);

  input::placeholder {
    color: var(--pgn-color-gray-700);
    // color: #5E35B1;
    font-family: 'Inter';
    font-weight: 500;
    word-wrap: break-word;
  }

  button {
    border: none !important;
    background-color: var(--pgn-color-white);
  }

  .prompt-button {
    background: rgba(239, 234, 247, 0.70);
  }
}

.error-message {
  color: var(--pgn-color-danger-500);
  margin-top: 20rem;
}

.close-button-container {
  position: absolute;
  top: 25px;
  right: 30px;
}
